<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <div class="container text-center">
    <h1>About</h1>
    <h3>This website is used to generate password based on specified length and constraints.</h3>
    <h3>You just have to specify the length and select the constraints which you want in your password.</h3>
    <h3>eg: length = 10 and constraints = uppercase, numbers then password = zea6yJCA7D.</h3>
    <br><a href="{% url 'home' %}" class="btn btn-warning">home</a>
    </div>
  </body>
</html>
